body
{
  background: url("../images/bg.jpg");

  position: relative;
}

.container-main
{
  text-align: center;

  min-height: 100vh;
  display: block;
  position: relative;
  padding-bottom: 280px;
}

/* Navbar */
.navbar-flex
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: black;

  align-items: center;
}

.navbar-flex ul
{
  padding-left: 150px;
  justify-content: center;
}

.navbar-flex a
{
  text-decoration: none;
  color: #FFE817;
}

.navbar-flex li
{
    padding-right: 150px;
}

a:hover
{
  color:blue;
}

.navbar-flex li
{
  display: inline-flex;
  font-size: 36px;
}

.lang-icons
{
  width: 57px;
  height: 53px;
  padding-left: 5px;
}

.navbar-flex .lang-selector
{
  padding-left: 50px;
}

.lang-links
{
  padding:0 !important;
}

.unactive
{
  opacity: 0.5;
}

.unactive:hover
{
  opacity: 0.8;
}

.navbar-flex .brand-icon
{
  width: 100%;
  height: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brand-text
{
  color: #FFE817 !important;
}


.non-active
{
  color: rgba(255, 232, 23, 0.43) !important;
}

.non-active:hover
{
  color: blue !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 232, 23)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #FFE817;
}

/* Navbar */

/* Main */

.top-buffer { margin-top:20px; }

.ramsey {
    width: 161px;
    max-width: 100%;
    height: 220px;
    max-height: 100%;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.quote {
    margin-top: 70px;
    margin-bottom: 70px;
    max-height: 361px;
    font-family: Perpetua;
    font-style: italic;
    font-weight: normal;
    font-size: 42px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 90px;
}

@media screen and (max-width: 1220px) {
    .quote {
      font-size: 30px;
    }
  }

@media screen and (max-width: 1020px) {
    .quote {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 767px) {
    .quote {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 0px;
        line-height: 25px;
        font-size: 18px;
    }
    .ramsey {
        margin-top: 20px;
        margin-bottom: 0px;
    }
  }

.sushi-img-over-text {
    position: relative;
    display: inline-block;
    max-width: 1150px;
    padding: 0;
}

.sushi-img {
    max-width: 100%;
    width: 1150px;
    height: auto;
    position: relative;
    display: block;
    filter: brightness(30%);
}

.sushi-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poor Richard';
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }

  
@media screen and (max-width: 1220px) {
    .sushi-text {
      font-size: 30px;
    }
  }

@media screen and (max-width: 1020px) {
    .sushi-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 765px) {
    .sushi-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 520px) {
    .sushi-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 345px) {
  .sushi-text {
      font-size: 8px;
  }
}

.border-right {
    border-right: 1px solid rgba(128, 128, 128, 0.5);
    margin-top: 30px;
}

@media screen and (max-width: 991px) {
    .border-right {
        border-right: 0px solid rgba(128, 128, 128, 0.5);
    }
}

.border-left {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.menu {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

@media screen and (max-width: 575px) {
    .menu-img {
        margin-left: auto;
        margin-right: auto;
        display: block; 
    }
    .menu-text {
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        margin: 0;
        padding-top: 20px;
    }
    .menu-text p {
        margin: 0;
        height: auto;
    }
    .menu {
        margin: 0;
    }
}

.menu-img {
    border-radius: 10px;
    display: flex;
    vertical-align: middle;
    max-width: 100%;
    height: 110px;
}

.menu-text {
    font-family: 'Poor Richard';
    font-style: italic;
    align-items: center;
    display: flex;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding-left: 40px;
    padding-right: 40px;
}

.prices-text {
    font-family: 'Poor Richard';
    font-size: 24px;
    display: flex;
    align-items: center;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.btn-dark {
    font-family: 'Poor Richard';
    border-radius: 10px;
    color: #FFE817;
    font-size:24px;
    width: 220px;
    margin-top:20px;
    text-decoration: none;
}

.btn-dark:hover {
    
}

/* Main */

/* Footer */

.footer-nav
{
  background-color: white;
  text-align: center;

  padding-top: 20px;

  position: absolute;
  bottom: 0;
  width: 100%;
}

footer li
{
  text-decoration: none;
  display: inline;
}


footer img
{
  width: 42px;
  height: 43px;
}

footer .tripadvisor
{
  width: 255px !important;
  height: 30px !important;
  padding-left: 55px;
}

.copyright
{
  text-align: center;
}


/* Footer */


@media (max-width: 1020px)
{
  .navbar-flex
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-flex .lang-selector
  {
    padding: 0;
  }

}
